
.header{
    position: absolute;
width: 160px;
height: 100%;
left: 0px;
top: 0px;

background: #3685B7;
}

.logo{
    position: absolute;
width: 100px;
height: 100px;
left: 30px;
top: 30px;

background: url(../img/logo.jpg);
border-radius: 49.5px;
}

.nav  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 160px;
    height: 378px;
    left: 30px;
    top: 180px;
    
    
}
.nav__link{
    
    text-decoration: none;
    width: 85px;
    height: 16px;
    white-space: nowrap;
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    /* identical to box height */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
}


.spisok{
    position: absolute;
width: 564px;
height: 48px;
left: 210px;
top: 60px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 48px;

/* identical to box height */

color: #000000;


}
.poisk{
    box-sizing: border-box;

position: absolute;
width: 564px;
height: 47px;
left: 210px;
top: 146px;

border: 2px solid #DADBDB;
}
.poisk__knopka{
    position: absolute;
width: 84px;
height: 47px;
left: 690px;
top: 146px;

/* Button */
background: linear-gradient(90deg, #2183AA 0%, #2661A6 0.01%, #409BC2 100%);

}

.position{
    position: absolute;
width: 287px;
height: 54px;
left: 1600px;
top: 753px;


}


.kolvo{

    position: absolute;
    width: 271px;
    height: 20px;
    left: 0px;
    top: 22px;
    
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    
    /* identical to box height */
    
    color: #787885;
    
    
}

.knopka__dobavit{
    box-sizing: border-box;

position: absolute;
width: 149px;
height: 47px;
left: 210px;
top: 750px;

background: #FFFFFF;
border: 1px solid #2183AA;
}


.dobavit{
    position: absolute;
    width: 114px;
    height: 20px;
    left: 233px;
    top: 764px;
    text-decoration: none;
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    
    /* identical to box height */
    
    color: #2183AA;
    
     
}

.dobavlenie_prepoda_nadpis{
    position: absolute;
width: 643px;
height: 48px;
left: 210px;
top: 60px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 48px;

/* identical to box height */

color: #000000;


}


.imya   {
    
position: absolute;
width: 343px;
height: 40px;
left: 210px;
top: 200px;
padding-left: 15px;
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* Muted-Black */
color: #6C6E6E;


}

.familiya {
    position: absolute;
width: 343px;
height: 40px;
left: 210px;
top: 260px;
padding-left: 15px;
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* Muted-Black */
color: #6C6E6E;

}
.otchestwo {
    position: absolute;
width: 343px;
height: 40px;
left: 210px;
top: 320px;
padding-left: 15px;
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* Muted-Black */
color: #6C6E6E;
}
.otdelenie {
    position: absolute;
width: 365px;
height: 47px;
left: 210px;
top: 380px;
padding-left: 12px;
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
background-color: #FFFFFF;
text-decoration: none;
/* or 18px */

/* Muted-Black */
color: #6C6E6E;
border: 1px solid #6C6E6E;
}

.sohranit{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'IntroRegular';

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;
color: #2183AA;
position: absolute;
width: 175px;
height: 46px;
left: 210px;
top: 450px;

/* Blue */
border: 2px solid #2183AA;
}

.nazad{
    font-family: 'IntroRegular';
    text-decoration: none;
    color: #2183AA;
    box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;

position: absolute;
width: 171px;
height: 46px;
left: 405px;
top: 450px;

/* Blue */
border: 2px solid #2183AA;
}

.izmenit{
    box-sizing: border-box;
text-decoration: none;
color: #2183AA;
font-family: 'IntroRegular';
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 34px;
gap: 10px;

position: absolute;
width: 145px;
height: 46px;
left: 210px;
top: 450px;

/* Blue */
border: 2px solid #2183AA;
}
.nazad__2{
    text-decoration: none;
    color: #2183AA;
    box-sizing: border-box;
    font-family: 'IntroRegular';
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 34px;
gap: 10px;

position: absolute;
width: 121px;
height: 46px;
left: 375px;
top: 450px;

/* Blue */
border: 2px solid #2183AA;
}


.naimenovanie__predmetov{
    position: absolute;
width: 248px;
height: 20px;
left: 210px;
top: 243px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

/* identical to box height */

color: #000000;


}

.naimenovanie{position: absolute;
    width: 365px;
    height: 47px;
    left: 210px;
    top: 200px;
    padding-left: 12px;
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    background-color: #FFFFFF;
    text-decoration: none;
    /* or 18px */
    
    /* Muted-Black */
    color: #6C6E6E;
    border: 1px solid #6C6E6E;

}
.sohranit__disciplinu{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'IntroRegular';

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;
color: #2183AA;
position: absolute;
width: 175px;
height: 46px;
left: 210px;
top: 320px;

/* Blue */
border: 2px solid #2183AA;
}

.nazad__disciplini{
    font-family: 'IntroRegular';
    text-decoration: none;
    color: #2183AA;
    box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;

position: absolute;
width: 171px;
height: 46px;
left: 405px;
top: 320px;

/* Blue */
border: 2px solid #2183AA;
}
.checkbox{
    position: absolute;
left: 206px;
top: 270px;

/* White */
background: #FFFFFF;
}
.praktika__nadpis{
    position: absolute;
width: 64px;
height: 18px;
left: 230px;
top: 270px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* Muted-Black */
color: #6C6E6E;


}

.test__prepoda{
    position: absolute;
width: 337px;
height: 38px;
left: 210px;
top: 237px;

background: #F3F9FB;
}

.test__prepoda__nadpis{
    position: absolute;
width: 274px;
height: 18px;
left: 15px;
top: 10px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;

/* identical to box height */

color: #000000;


}


.test__prepoda__nadpis__2{
    position: absolute;
    width: 337px;
    height: 38px;
    left: 210px;
    top: 208px;
    
    
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;

/* identical to box height */

color: #000000;


}


.krestik{
    position: absolute;
width: 18px;
height: 18px;
left: 314px;
top: 8px;
color: #2183AA;
font-family: 'IntroRegular';
border: 0;
background-color: #F3F9FB;
cursor: pointer;
}

.krestik__2{
    position: absolute;
width: 18px;
height: 18px;
left: 510px;
top: 240px;
color: #2183AA;
font-family: 'IntroRegular';
border: 0;
background-color: #F3F9FB;
cursor: pointer;
}


table{ 
    
    border-collapse: collapse;
    position: absolute;
width: 1060px;
height: 432px;
left: 209px;
top: 247px;

}



th {
    padding: 10px; 
    border: 1px solid  #E4E6EF;
    font-family: 'IntroRegular';
  }
td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #E4E6EF;
    font-family: 'Calibri-Light'
  }


.zagalovki{
    

font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

/* identical to box height */

color: #2D2D2D;
}


.yacheiki{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height */
    
    color: #2D2D2D;
    
}

.checkbox__2{
        position: absolute;
    left: 206px;
    top: 450px;
    
    /* White */
    background: #FFFFFF;
}

.ochnaya__forma{
    position: absolute;
width: 92px;
height: 18px;
left: 230px;
top: 450px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* Muted-Black */
color: #6C6E6E;
}


.sohranit5{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'IntroRegular';

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;
color: #2183AA;
position: absolute;
width: 175px;
height: 46px;
left: 210px;
top: 510px;

/* Blue */
border: 2px solid #2183AA;
}


.nazad5{
    font-family: 'IntroRegular';
    text-decoration: none;
    color: #2183AA;
    box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;

position: absolute;
width: 171px;
height: 46px;
left: 405px;
top: 510px;

/* Blue */
border: 2px solid #2183AA;
}

.imya2   {
    
    position: absolute;
    width: 343px;
    height: 40px;
    left: 210px;
    top: 140px;
    padding-left: 15px;
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    
    /* or 18px */
    
    /* Muted-Black */
    color: #6C6E6E;
    
    
    }

    .naimenovanie2{
        position: absolute;
    width: 365px;
    height: 47px;
    left: 210px;
    top: 260px;
    padding-left: 12px;
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    background-color: #FFFFFF;
    text-decoration: none;
    /* or 18px */
    
    /* Muted-Black */
    color: #6C6E6E;
    border: 1px solid #6C6E6E;

        
    }
    .otchestwo2 {
        position: absolute;
    width: 343px;
    height: 40px;
    left: 210px;
    top: 440px;
    padding-left: 15px;
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    
    /* or 18px */
    
    /* Muted-Black */
    color: #6C6E6E;
    }


    .otchestwo3 {
        position: absolute;
    width: 343px;
    height: 40px;
    left: 210px;
    top: 500px;
    padding-left: 15px;
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    
    /* or 18px */
    
    /* Muted-Black */
    color: #6C6E6E;
    }

    .sohranit6{
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'IntroRegular';
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    color: #2183AA;
    position: absolute;
    width: 175px;
    height: 46px;
    left: 210px;
    top: 570px;
    
    /* Blue */
    border: 2px solid #2183AA;
    }
    
    .nazad6{
        font-family: 'IntroRegular';
        text-decoration: none;
        color: #2183AA;
        box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    
    position: absolute;
    width: 171px;
    height: 46px;
    left: 405px;
    top: 570px;
    
    /* Blue */
    border: 2px solid #2183AA;
    }


.poisk2{
    box-sizing: border-box;

position: absolute;
width: 564px;
height: 47px;
left: 210px;
top: 653px;

border: 2px solid #DADBDB;
}
.poisk__knopka2{
    position: absolute;
width: 84px;
height: 47px;
left: 690px;
top: 653px;

/* Button */
background: linear-gradient(90deg, #2183AA 0%, #2661A6 0.01%, #409BC2 100%);

}

.tablica2{
    border-collapse: collapse;
    position: absolute;
    box-sizing: border-box;

position: absolute;
width: 554px;
height: 246px;
left: 210px;
top: 722px;

border: 1px solid #E4E6EF;
}


.container{
    
position: absolute;
width: 1152px;
height: 1512px;
left: 228px;
top: 60px;
}

.raspisanie{
  /* Расписание */

position: absolute;
width: 185px;
height: 42px;
left: 0px;
top: 0px;

/* H1 */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 130%;

/* identical to box height, or 42px */

/* black */
color: #2D2D2D;


}

.verch_chast{
    /* Frame 913 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1120px;
height: 118px;
left: 0px;
top: 142px;


}

.polya{
    /* Поля */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 40px;

width: 1120px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}


.nedelya_i_semestr{
    /* Frame 911 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 517px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.vibor_nedeli{
    box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

font-family: 'IntroRegular';
width: 291px;
height: 46px;

/* white */
background: #FFFFFF;

/* gray */
border: 1px solid #6C6E6E;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.nedelya{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 126px;
height: 14px;
font-family: 'IntroRegular';


flex: none;
order: 0;
flex-grow: 0;

}

.semestr{
    /* Selector */

box-sizing: border-box;
font-family: 'IntroRegular';
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


width: 186px;
height: 46px;

/* white */
background: #FFFFFF;

/* gray */
border: 1px solid #6C6E6E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.dop_infa{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 174px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.nadpis__dop__infa{
    
width: 174px;
height: 21px;

/* Подзаголовок */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

/* identical to box height, or 21px */
display: flex;
align-items: center;

/* gray */
color: #6C6E6E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.nadpis__dop__infa__2{
    /* Начало: 01.09.2022 */

width: 147px;
height: 21px;

/* Подзаголовок */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

/* identical to box height, or 21px */
display: flex;
align-items: center;

/* gray */
color: #6C6E6E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.dni__nedeli{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1120px;
height: 84px;
left: 0px;
top: 300px;
}
.ponedelnik{
    box-sizing: border-box;

width: 208px;
height: 84px;

/* white */
background: #FFFFFF;

/* muted-gray */
border: 1px solid #E4E6EF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.chas{
    
position: absolute;
width: 66px;
height: 21px;
left: 20px;
top: 20px;
white-space: nowrap;
/* Подзаголовок */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

/* identical to box height, or 21px */

/* blue */
color: #2183AA;


}

.den{
    /* Понедельник */

position: absolute;
width: 90px;
height: 18px;
left: 20px;
top: 46px;

/* Маленький_текст */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* black */
color: #2D2D2D;
}

.vtornik{
    width: 208px;
height: 84px;

/* muted-gray */
background: #E4E6EF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.sreda{
    box-sizing: border-box;

width: 208px;
height: 84px;

/* white */
background: #FFFFFF;

/* muted-gray */
border: 1px solid #E4E6EF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}

.chetverg{
    
width: 208px;
height: 84px;

/* muted-gray */
background: #E4E6EF;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}
.pyatniza{
    width: 208px;
height: 84px;

/* muted-gray */
background: #E4E6EF;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0
}
.den2{
    
position: absolute;
width: 57px;
height: 18px;
left: 250px;
top: 46px;

/* Маленький_текст */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* black */
color: #2D2D2D;
}

.chas2{
    position: absolute;
width: 59px;
height: 21px;
left: 250px;
top: 20px;
white-space: nowrap;
/* Подзаголовок */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

/* identical to box height, or 21px */

/* blue */
color: #2183AA;
}

.den3{
    position: absolute;
width: 57px;
height: 18px;
left: 480px;
top: 46px;

/* Маленький_текст */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* black */
color: #2D2D2D;
}
.chas3{
    position: absolute;
width: 59px;
height: 21px;
left: 480px;
top: 20px;
white-space: nowrap;
/* Подзаголовок */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

/* identical to box height, or 21px */

/* blue */
color: #2183AA;
}
.chas4{
    position: absolute;
width: 59px;
height: 21px;
left: 710px;
top: 20px;
white-space: nowrap;
/* Подзаголовок */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

/* identical to box height, or 21px */

/* blue */
color: #2183AA;
}
.chas5{
    position: absolute;
width: 59px;
height: 21px;
left: 940px;
top: 20px;
white-space: nowrap;
/* Подзаголовок */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

/* identical to box height, or 21px */

/* blue */
color: #2183AA;
}

.den4{
    
position: absolute;
width: 57px;
height: 18px;
left: 710px;
top: 46px;

/* Маленький_текст */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* black */
color: #2D2D2D;
}
.den5{
    
position: absolute;
width: 57px;
height: 18px;
left: 940px;
top: 46px;

/* Маленький_текст */
font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;

/* or 18px */

/* black */
color: #2D2D2D;
}


.pole_vvoda_1{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1149px;
height: 158px;
left: 0px;
top: 424px;


}
.box1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 208px;
height: 158px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.selector1_1_1{
    box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

width: 208px;
height: 46px;

/* white */
background: #FFFFFF;

/* gray */
border: 1px solid #6C6E6E;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.selector1_1_2{
    box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;


width: 208px;
height: 46px;

/* white */
background: #FFFFFF;

/* gray */
border: 1px solid #6C6E6E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.selector1_1_3{
    /* Selector */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 208px;
height: 46px;

/* white */
background: #FFFFFF;

/* gray */
border: 1px solid #6C6E6E;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}

.box2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 208px;
height: 158px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}


.box3{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 208px;
height: 158px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}

.box4{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 208px;
height: 158px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
}

.box5{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 208px;
height: 158px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
}

.pole_vvoda_2{
    /* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1151px;
height: 158px;

top: 622px;


}

.pole_vvoda_3{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1152px;
height: 158px;
top: 820px;


}

.pole_vvoda_4{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1152px;
height: 158px;
top: 1018px;


}

.pole_vvoda_5{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1152px;
height: 158px;
top: 1216px;


}

.pole_vvoda_6{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1152px;
height: 158px;
top: 1414px;


}
.header2{
    position: absolute;
width: 160px;
height: 1667px;
left: 0px;
top: 0px;

background: #3685B7;
}

.uchebni_plan{
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 296px;
height: 853px;
left: 1460px;
top: 300px;


}

.nadpis228{
    
width: 136px;
height: 17px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

/* gray */
color: #6C6E6E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.text__box1{
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 293px;
height: 126px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.text__box2{
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 293px;
height: 126px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.text__box3{
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 293px;
height: 126px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}
.text__box4{
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 293px;
height: 126px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}
.text__box5{
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 293px;
height: 126px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
}


.filosofiya{
    width: 175px;
    height: 16px;
    margin-bottom: -5px;
    font-family: 'IntroRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: -25px;
    /* identical to box height */
    white-space: nowrap;
    /* black */
    color: #2D2D2D;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.style_nadpis{
    
width: 147px;
height: 22px;

font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

/* identical to box height */
white-space: nowrap;
/* gray */
color: #6C6E6E;

margin-bottom: -25px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.text__box1_1{
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 293px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.style_nadpis2{
    /* Не использовано: 48 */

width: 159px;
height: 22px;

font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

/* identical to box height */

/* red */
color: #E74242;
margin-bottom: -25px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}


.chasov_v_nedelyu{
    
width: 203px;
height: 20px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

/* identical to box height */

/* blue */
color: #2183AA;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
}

.box_buttons{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 296px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
}

.btn1{
    /* Frame 858 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;

width: 230px;
height: 46px;

/* blue */
background: #2183AA;

/* blue */
border: 2px solid #2183AA;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.button1488{
    width: 72px;
height: 14px;

font-family: 'IntroRegular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;

/* identical to box height */

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.btn2{
    
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 46px;
height: 46px;

/* blue */
border: 2px solid #2183AA;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
